.badge {
   position:relative;
}

.badge[data-badge]:after {
  background: indigo;
  border-radius: 50%;
  box-shadow: 0 0 1px #333;
  color: white;
  content: attr(data-badge);
  font-size: .7em;
  height :18px;
  line-height: 18px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 18px;
}
